body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.header {
  margin: 4em 0;
}

.tweet-box {
  margin: auto;
  padding: 2.5em;
  text-align: left;
  width: 50%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.tweet {
  margin: .25em 0 0 0;
  font-size: 2.5em;
}

.profile-pic {
  display: inline-block;
  margin: 0 0 .25em 0;
  max-width: 4.5em;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
}

.account-info {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em;
}

.username {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

.handle {
  display: block;
  font-size: 1.25em;
}

.profile-pic img {
  max-width: 100%;
  max-height: 100%;
}

.buttons {
  margin: 0 0 4em 0;
}

.name-button {
  display: inline-block;
  color: #000;
  border: 3px solid #000;
  font-size: 1.5em;
  font-weight: bold;
  margin: 2em 3em;
  padding: 1em 5em;
  border-radius: 4px;
  cursor: pointer;
}

.name-button:focus {
  outline: 0;
}

.name-button:hover {
  color: #fff;
  background-color: #000;
}

.name-button:active {
  color: #fff;
  background-color: #000;
  box-shadow: inset 0 0 10px #333;
}

.score {
  margin: 1em 0;
  font-size: 5em;
}
